footer{
    margin-top: 5em;
    padding: 1em;
    padding-bottom: 2em;
    background-color: #212529e0;
    display: flex;
    justify-content: space-around;
}

footer div{
padding: 0.1em;
}


footer div ul li{
    color:whitesmoke;
    margin-top:1em;
    list-style: none;
    cursor: pointer;
}

footer div ul li:hover{
    color:slateblue;
}