<div class="info-section-home">
    <img src="assets/product1.jpg">
    <div>
        <h3 class="title-info-section-home">
            Lorem Ipsum Xdsdnsaknd dsandoknkd
        </h3>
        <p class="description-info-section-home">
            orem Ipsum Xdsdnsaknd dsandoknkdorem Ipsum Xdsdnsaknd dsandoknkdorem Ipsum Xdsdnsaknd dsandoknkdorem Ipsum Xdsdnsaknd dsandoknkd
            orem Ipsum Xdsdnsaknd dsandoknkdorem Ipsum Xdsdnsaknd dsandoknkdorem Ipsum Xdsdnsaknd dsandoknkd
        </p>
    </div>
    
</div>